@charset "UTF-8";

body {
	font-family: var(--bs-font-sana-serif);
	--bs-font-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue"
	font-size: 1rem;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-image: url("");
	text-align: center;
}

tabel {
	border-collapse: collapse;
	box-sizing: border-box;
	vertical-align: middle;
	width: 70%;
	margin-bottom: 1rem;
	color: #212529;
	vertical-align: top;
	border-color: #dee2e6;
	
}