@charset "UTF-8";

#body {
	font-family: var(--bs-font-sana-serif);
	--bs-font-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue"
	font-size: 1rem;
	line-height: 1.5;
	color: #212529;
	background-color: #fff;
	background-image: url("");
	text-align: center;
}

.table {
	border-collapse: collapse;
	box-sizing: border-box;
	vertical-align: middle;
	width: 70%;
	margin-bottom: 1rem;
	color: #212529;
	vertical-align: top;
	border-color: #dee2e6;
	
}
table {
	caption-side: bottom;
	border-collapse: collapse;
	box-sizing: border-box;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 1rem;
	color: #204a87;
	vertical-align: top;
	border-color: #888a85;
	background-color: #ffffff;
}
span {
  border: 1px solid black;
  background-color: yellow;
  
}

p {
  font-weight: bold;
  colour: blue; 
  font-size: 200%;
}

.fancy {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-width: 10px;
}